.header {
  position: relative;
  height: 100vh;
}
.header__slider {
  position: relative;
}
.header__slide {
  height: 100vh;
  background-image: url(../img/header/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.header__content {
  text-align: right;
  position: absolute;
  right: 80px;
  bottom: 116px;
  color: #fff;
}
.slider-item__info-title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 80px;
  font-weight: 800;
  line-height: 86px;
  text-transform: uppercase;
}
.slider-item__info-subtitle {
  margin: 0;
  margin-bottom: 5px;
}
.slider-item__info-subtext {
  margin: 0;
  margin-bottom: 8px;
}
.slider-item__info-text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}
.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 15;
  color: #fff;
}
.slider-arrows__prev {
  right: 125px;
}
.slider-arrows svg {
  width: 25px;
  height: 25px;
  fill: currentColor;
}
.header__pag {
  counter-reset: pag;
  left: calc(100% - 1016px) !important;
  bottom: 40px !important;
  display: flex;

  .swiper-pagination-bullet {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    width: 200px;
    height: auto;
    text-align: left;
    background-color: transparent;
    opacity: 1;

    &::after {
      counter-increment: pag;
      content: "0"counter(pag);
      font-size: 24px;
      color: var(--light-color);
      font-weight: 800;
      line-height: 34px;
      text-transform: uppercase;
    }

    &::before {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
.header__bar  {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 4px;
  background-color: #fff;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
}
.swiper-pagination-bullet-active {
  &::after {
    color: #4af6dc !important;
  }
  .header__bar {
    &::after {
      background-color: #4af6dc;
      transform: scaleX(1);
    }
  }
}

.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  border-right: 1px solid rgba(#fff, .25);
  height: 100vh;
  text-align: center;
  color: var(--light-color);
}
.header__title {
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;
  color: var(--light-color);
  max-width: 467px;
  opacity: 0.07;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;

  span {
    padding-top: 15px;
    display: block;
    font-weight: 300;
    line-height: 64px;
    font-size: 16px;
    letter-spacing: 1.4px;
  }
}
.header__location {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  position: relative;
  padding-left: 19px;

  &::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 13px;
    background-image: url(../img/header/map.svg);
    left: 0;
    top: 0;
  }
}
.header__search {
  padding-top: 15px;
  padding-bottom: 35px;
}
