<header class="header">
  <div class="header__slider">
    <button class="btn-reset slider-arrows slider-arrows__prev">
      <svg class="">
        <use xlink:href="img/sprite.svg#arrows-left"></use>
      </svg>
    </button>
    <button class="btn-reset slider-arrows slider-arrows__next">
      <svg class="">
        <use xlink:href="img/sprite.svg#arrows-right"></use>
      </svg>
    </button>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="header__slide">
            <div class="header__content slider-item">
              <div class="slider-item__info-subtitle subtitle-left">Surf</div>
              <div class="slider-item__info-title">North Shore</div>
              <div class="slider-item__info-subtext subtitle-left">Condition</div>
              <div class="slider-item__info-text">Radical</div>
              <a href="#" class="slider-item__info-link">
                <img src="img/header/arrows-right.svg" alt="arrow right">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="header__slide">
            <div class="header__content slider-item">
              <div class="slider-item__info-subtitle subtitle-left">Surf</div>
              <div class="slider-item__info-title">South Shoree</div>
              <div class="slider-item__info-subtext subtitle-left">Condition</div>
              <div class="slider-item__info-text">Radical</div>
              <a href="#" class="slider-item__info-link">
                <img src="img/header/arrows-right.svg" alt="arrow right">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="header__slide">
            <div class="header__content slider-item">
              <div class="slider-item__info-subtitle subtitle-left">Surf</div>
              <div class="slider-item__info-title">West Shore</div>
              <div class="slider-item__info-subtext subtitle-left">Condition</div>
              <div class="slider-item__info-text">Radical</div>
              <a href="#" class="slider-item__info-link">
                <img src="img/header/arrows-right.svg" alt="arrow right">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="header__slide">
            <div class="header__content slider-item">
              <div class="slider-item__info-subtitle subtitle-left">Surf</div>
              <div class="slider-item__info-title">East Shore</div>
              <div class="slider-item__info-subtext subtitle-left">Condition</div>
              <div class="slider-item__info-text">Radical</div>
              <a href="#" class="slider-item__info-link">
                <img src="img/header/arrows-right.svg" alt="arrow right">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination header__pag"></div>
  </div>
</header>