<header class="header">
  <div class="header__title">
    go<br> surf
  </div>
  <div class="header__aside">
    <div class="logo">
      <a href="#"><img src="img/header/logo.svg" alt="Go Surf"></a>
    </div>
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a class="nav__link" href="#">
            <img src="img/header/nav-ico-1.svg" alt="surf" class="nav__images">
            <span>Surf</span>
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">
            <img src="img/header/nav-ico-2.svg" alt="travel" class="nav__images">
            <span>Travel</span>
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">
            <img src="img/header/nav-ico-3.svg" alt="sleep" class="nav__images">
            <span>Sleep</span>
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">
            <img src="img/header/nav-ico-4.svg" alt="shop" class="nav__images">
            <span>Shop</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__search">
      <a href="#"><img src="img/header/search.svg" alt="Search"></a>
    </div>
    <div class="header__date">
      20
      <span>06 | 2018</span>
    </div>
    <div class="header__location">
      California
    </div>
  </div>
  <div class="header__slider">
    <button class="btn-reset slider-arrows slider-arrows__prev">
      <svg class="">
        <use xlink:href="img/sprite.svg#arrows-left"></use>
      </svg>
    </button>
    <button class="btn-reset slider-arrows slider-arrows__next">
      <svg class="">
        <use xlink:href="img/sprite.svg#arrows-right"></use>
      </svg>
    </button>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="header__slide">
            <div class="header__content slider-item">
              <div class="slider-item__info-subtitle subtitle-left">Surf</div>
              <div class="slider-item__info-title">North Shore</div>
              <div class="slider-item__info-subtext subtitle-left">Condition</div>
              <div class="slider-item__info-text">Radical</div>
              <a href="#" class="slider-item__info-link">
                <img src="img/header/arrows-right.svg" alt="arrow right">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="header__slide">
            <div class="header__content slider-item">
              <div class="slider-item__info-subtitle subtitle-left">Surf</div>
              <div class="slider-item__info-title">South Shoree</div>
              <div class="slider-item__info-subtext subtitle-left">Condition</div>
              <div class="slider-item__info-text">Radical</div>
              <a href="#" class="slider-item__info-link">
                <img src="img/header/arrows-right.svg" alt="arrow right">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="header__slide">
            <div class="header__content slider-item">
              <div class="slider-item__info-subtitle subtitle-left">Surf</div>
              <div class="slider-item__info-title">West Shore</div>
              <div class="slider-item__info-subtext subtitle-left">Condition</div>
              <div class="slider-item__info-text">Radical</div>
              <a href="#" class="slider-item__info-link">
                <img src="img/header/arrows-right.svg" alt="arrow right">
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="header__slide">
            <div class="header__content slider-item">
              <div class="slider-item__info-subtitle subtitle-left">Surf</div>
              <div class="slider-item__info-title">East Shore</div>
              <div class="slider-item__info-subtext subtitle-left">Condition</div>
              <div class="slider-item__info-text">Radical</div>
              <a href="#" class="slider-item__info-link">
                <img src="img/header/arrows-right.svg" alt="arrow right">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination header__pag"></div>
  </div>
</header>
